@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  color: #202124;
}

:root {
  scroll-behavior: smooth;
}

.bs {
  box-shadow: #6A9FF944 0px 6px 14px 0px;
}

.gradient-border {
  padding: 1px;
  background: linear-gradient(45deg, #6A9FF966, #57C66A66);
}